<div class="bod"> 

  <header> 
    <h1>{{title}}</h1>
  </header> 

  <main> 
    <form action=""> 
      <section class="numero"> 
        <label for="numeroUno">Entra un Numero</label> 
        <input [(ngModel)] = 'numeroUno' type="number" required name="numeroUno" id="numeroUno" placeholder="Escribe un Numero"> 

        <label for="numeroDos">Entra otro Numero</label> 
        <input [(ngModel)] = "numeroDos" type="number" required name="numeroDos" id="numeroDos" placeholder="Escribe otro Numero">  
      </section> 

      <section class="btn"> 
      <button type="submit" (click)="suma()">Suma</button> 
      <button type="submit" (click)="resta()">Resta</button> 
      <button type="submit" (click)="multiplicar()">Multiplicar</button> 
      <button type="submit" (click)="dividir()">Dividir</button>
    </section> 

    </form> 

    <p>El Resultado: {{resultado}}</p>
    
  </main>



</div>